.layout-sidebar-custom {
  width: 250px !important;
}

:host-context(:root:not(.p-dark)) .layout-sidebar {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 3px 3px 4px rgba(0, 0, 0, 0.2);
}