:root:not(.p-dark) {
  /* Primary */
  --primary-color: var(--p-primary-color);
  --primary-contrast-color: var(--p-primary-contrast-color);
  --primary-hover-color: var(--p-primary-hover-color);
  --primary-text-color: var(--p-primary-600);
  --primary-text-color-dark: var(--p-primary-800);

  /* Content & Text */
  --text-color: var(--p-surface-900);
  --text-color-secondary: var(--p-surface-600);
  --text-secondary-color: var(--p-surface-500);
  --high-contrast-text-color: var(--p-surface-950);
  --p-text-muted-color: var(--p-surface-500);
  --p-content-background: var(--p-surface-0);
  --p-content-border-color: var(--p-surface-200);

  /* Surfaces & Borders */
  --ground-background: var(--p-surface-50);
  --overlay-background: var(--p-surface-0);
  --card-background: var(--p-surface-0);
  --card-border: 1px solid var(--p-surface-200);
  --border-color: var(--p-surface-200);

  /* Code, Mark & Selection */
  --code-background: var(--p-surface-100);
}
